<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Memberse Suite">

  <!-- Invoke Report Generation-->
    <listeners>
    	<listener class-name="Resources.ExtentReporterNG"/>  
    </listeners>

  <test thread-count="5" name="Web App Test">
  	<groups>
  		<dependencies>
  			<group name="Regression" depends-on=" "></group>
  		</dependencies>
  	</groups>
  
    <classes>
    	  <class name="Memberse.WebDMonly.CreatorOrganicLoginTest"/>
    	  <class name="Memberse.WebDMonly.FanBioLinkLoginTest"/>
    	  <class name="Memberse.WebDMonly.FanSendDMTest"/>
    	  <class name="Memberse.WebDMonly.CreatorReplyDMTest"/>
	      
	</classes>
    
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
